@import "./globals.scss";
@import "./animations.scss";

.homepage {
    background-color: $bgColor;
    background-image: url('/Hero_Image.jpeg');
    background-position: right 15%; 
    height: 100vh; 
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadeInText 0.8s forwards;
}

@media (max-width: 960px) {
    .homepage {
        background-image: url('/Landing_mobile_hero.png');
        background-position: center 15%;
        background-size: 60%;

    }
}

@media (max-width: 650px) {
    .homepage {
        background-position: center 30%;
        background-size: 50%;
    }
}

@media (max-width: 425px) {
    .homepage {
        background-position: center 35%;
        background-size: 70%;
    }
}