@import "./globals.scss";
@import "./animations.scss";

.navbar-container {
    @include textFont();
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    height: 70px;

    img {
        width: 4rem;
        height: 4rem;
    }
}

.navbar__links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        position: relative;
        padding-right: 10px;
        font-size: 1em;
        margin-right: 25px;
        text-decoration: none;
        color: $footerColor;
        transition: color 0.15s ease-in-out;

        // Hover and active class styles
        &:hover,
        &.active {
            color: $accentColor;
            cursor: pointer;
        }

        // Animation for underline effect
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -2px;
            left: 0;
            background-color: $accentColor;
            visibility: hidden;
            transform: scaleX(0);
            transform-origin: left;
            transition: all 0.15s ease-in-out;
        }

        // Hover and active class underline animation
        &:hover::before,
        &.active::before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
}
